
h1{
    font-size: 3em;
}

#signUpBtn{
    color: rgb(35, 61, 77);
    background-color : rgb(161, 193, 129);
}

#submitBtn{
    color:rgb(254, 127, 45);
    background-color :rgb(35, 61, 77);
}
#SignUp{
    background-color: black;
}
#submit{
    min-width:100%
}
#loginForm{
    border-width: 2px;
    border-color: white;
    border-style: solid;
    margin: 5%;
    padding: 5%;
}
.form{
    margin-top: 7%;
    margin-bottom: 5%;
}
.input{
    font-size: 22px;
    margin-top: 2%;
    text-align: center;
    width: 50%;
}
.chatScreen{
    min-height:400px;
    min-width:100px;
    height:100%;
    width:100%;
    overflow-y: scroll;
    background-color: white;   
}
.signUp{
    
}
.yellow{
    color: rgb(252,202,70);
}