input{   
    min-height: 67%;  
    min-width: 40%;
    font-size: 22px;
    margin-top: 2%;
    text-align: center;
}

h1,h2,h3,h4,a{
    color:rgb(35, 61, 77)
}

h1{
    font-size: 4em;
}

#header{
    margin-top: 10%;
}
#SignUp{
    background-color: black;
}
#submit{
    min-width:100%
}
.form{
    margin-top: 12%;
}
.chatScreen{
    min-height:400px;
    min-width:100px;
    height:100%;
    width:100%;
    overflow-y: scroll;
    background-color: white;   
}